@model LinkedInMVC.ViewModel.HomeViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string name = Model.ApplicationUser.FirstName + " ";
    name += Model.ApplicationUser.SecondName;
    string jobTitle = Model.ApplicationUser.Headline;
    string imgUrl = "../images/" + Model.ApplicationUser.ProfileImage;
    int x;
    int count=6;
}
@*<link rel="stylesheet" type="text/css" media="screen" href="../css/stylesheet.css">*@
@*<script src="node_modules/jquery/dist/jquery.slim.min.js"></script>*@
<!--<script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
@*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@

<div class="container Home col-md-10">
    <div class="row">
        <div class="col-md-3 Home__home-left">
            <div class="small-profile-card profile-card-layout col-md-12">

                <img class="small-profile-card__cover" src="../images/lincov.PNG" />
                @Html.HiddenFor(model => model.count);

                <div class="col-md-12">
                    <img class="small-profile-card__pimage small-profile-card__pimage1" src=@imgUrl />
                </div>
                <div class="small-profile-card__content">
                    <a class="small-profile-card__nametag">
                        @Html.ActionLink(name, "Details", "Profile", new { id = Model.ApplicationUser.Id }, new { @class = "user-data__user-name" })
                    </a>
                    <p class="small-profile-card__details">
                        <Label class="small-profile-card__details text-center">@jobTitle</Label>
                    </p>
                </div>
                <div class="small-profile-card__managecon col-md-12">
                    <div class="small-profile-card__managecon__leftside col-md-11">
                        <div class="small-profile-card__leftside-num1">Who's viewed your profile</div>
                        <div class="small-profile-card__leftside-num2">Connections</div>
                        <div class="small-profile-card__leftside-num3" href="">Grow your network</div>
                    </div>
                    <div class="small-profile-card__managecon-rightside col-md-2">
                        <a class="small-profile-card__managecon-rightside-num4">
                            <Label class="small-profile-card__managecon-rightside-num4">12</Label>
                        </a>
                        <a class="small-profile-card__managecon-rightside-num5">
                            @Html.ActionLink("22", "Index", "Connection", new { id = Model.ApplicationUser.Id }
                       , new { @class = "small-profile-card__managecon-rightside-num5" })
                            @*<Label class="small-profile-card__managecon-rightside-num5">222</Label>*@
                        </a>
                    </div>
                </div>
                <div class="small-profile-card__premium">
                    <p class="small-profile-card__premium-ptext">Access exclusive tools & insights</p>
                    <div class="small-profile-card__premium-linkpremium">
                        <i class="small-profile-card__premium-iconcolor fab fa-linkedin"> </i>
                        Try premium free for 1 month
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-7 d-flex flex-column align-content-center">
            <div class="Home__create-post-sec row">
                <div class="body-container col-md-12">
                    <div class="post-box row">
                        <div class="post-box__btn-post col-md-6">
                            <span class="post-box__edit-icon"><i class="far fa-edit"></i></span>
                            <a href="#" class="post-box__btn-start-post" data-toggle="modal" data-target="#exampleModal">start a post</a>
                        </div>
                        <div class="post-box__post-media col-md-6">
                            <div class="row">
                                <span class="post-box__btn-share-img col-md-6"><i class="fas fa-camera"></i></span>
                                <span class="post-box__btn-share-video col-md-6"><i class="fas fa-video"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">

                            @using (Ajax.BeginForm("AddPost", "Posts",null
                                , new AjaxOptions { UpdateTargetId= "changingPart",
                                    InsertionMode = InsertionMode.Replace
                                , HttpMethod="POST" } ,new { @class = "modal-content" }))
                            {
                                <div class="post-box__modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @Html.TextArea("post.postText" , new { @style = "width: -webkit-fill-available;height:100px;border:none"
                                   , @id = "PostInputText",
                                   @type = "text" , @placeholder = "What do you want to talk about..?"
                               })
                                   </div>
                                <div class="modal-footer">
                                    @Html.HiddenFor(model => count);
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button class="btn btn-primary  post-btn" type="submit">Post</button>
                                </div>
                            }


                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        @using (@Ajax.BeginForm("GetSortedPosts", "Posts", new { x = 1, count = 0 }
                                        , new AjaxOptions
                                        {
                                            UpdateTargetId = "changingPart",
                                            InsertionMode = InsertionMode.Replace
                                ,
                                            HttpMethod = "POST"
                                        }, null))
                        {
                            @*@Html.HiddenFor(model => count);*@
                            <button class="dropdown-item" type="submit">Top</button>
                        }
                        @using (@Ajax.BeginForm("GetSortedPosts", "Posts", new { x = 0, count=0 }
                                , new AjaxOptions
                                {
                                    UpdateTargetId = "changingPart",
                                    InsertionMode = InsertionMode.Replace
                                ,
                                    HttpMethod = "POST"
                                }, null))
                        {
                            @*@Html.HiddenFor(model => count);*@
                            <button class="dropdown-item" type="submit">Date</button>
                        }

                    </div>
                </div>
            </div>
            <div class="Home__posts-sec row">
                <div id="changingPart" class="col-md-12">
                    @Html.Partial("_PostsPartial", Model.PostViewModels)

                </div>
                @using (@Ajax.BeginForm("GetSortedPosts", "Posts", new { x = 0 }
                                , new AjaxOptions
                                {
                                    UpdateTargetId = "changingPart",
                                    InsertionMode = InsertionMode.InsertAfter
                                ,
                                    HttpMethod = "POST"
                                }, new { @class = "col-md-12" }))
                {
                    @Html.HiddenFor(model => count);
                    <button id="btn_" class="load-more col-md-12" type="submit">
                        Load More Posts
                    </button>
                }

            </div>
        </div>
        <div class="col-md-2 Home__home-right">

        </div>
    </div>
</div>
@*<script>
    //function updatePosts() {
    //      $('#count').val();  
    //}
    //$(window).scroll(function () {
    //    if ($(window).scrollTop()
    //        + $(window).height() >= $(window).height()) {
    //        $('#btn_').click();
    //    }
    //});
</script>*@
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
