@model CompanyViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout3.cshtml";
    
        AjaxOptions ao = new AjaxOptions
        {
            UpdateTargetId = "test1",
            InsertionMode = InsertionMode.Replace

        };
 
}


<div class="container-fluid bg-white div-position">
    <div class="row  ">
        <div class="col-12">
            <button class="btn btn-light btn-lg buttn-back">
                <i class="fas fa-arrow-left "></i>
                <span>@Html.ActionLink("Back", "Index")</span>
            </button>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 head-text-size">
            <i class="fas fa-university text-center i-color-company display-2 py-4"></i>
            <span class="h4 text-color">
                Let’s get started with a few details about your company.
            </span>
        </div>
    </div>
</div>
<div class="container-fluid ">

    @using (Html.BeginForm("Create", "Company", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-6 ">
                <div class="form-group form-position1">
                    @*@using (Ajax.BeginForm(ao))
                        {*@
                    <div class="col-12 py-1">
                        <span class="text-header h3">Page identity</span>
                        @Html.LabelFor(m => m.Company.Name, "Name *", new { @class = "h5 py-4" })
                        @*<label class="h5 py-4" for="name">Name*</label>*@
                        @Html.TextBoxFor(m => m.Company.Name, new { @class = "form-control p-4" })
                        @Html.ValidationMessageFor(m => m.Company.Name, "", new { @class = "error" })
                        @*<input type="text" id="name" class="form-control p-4" />*@
                    </div>
                    <div class="col-12 py-2">
                        @Html.LabelFor(m => m, "LinkedIn public URL *", new { @class = "h5 py-4" })
                        @*<label class="h5 py-4" for="URL">LinkedIn public URL* </label>*@
                        <div class="row">
                            <div class="col-4">
                                @Html.LabelFor(m => m, "linkedin.com/company/", new { @class = "h5 py-4" })

                                @*<label for="URL" class="h5 text-color1">linkedin.com/company/</label>*@
                            </div>
                            <div class="col-8">
                                @Html.TextBox("URL", null, new { @class = "form-control py-4 my-1" })
                                @Html.ValidationMessageFor(m => m, "", new { @class = "error" })
                                @*<input type="text" id="URL" class="form-control p-4" />*@
                            </div>

                        </div>
                    </div>
                    <div class="col-12 py-2">
                        @Html.LabelFor(m => m.Company.URL, new { @class = "h5 py-4" })

                        @*<label for="Website" class="h5 py-4">Website</label>*@
                        @Html.TextBoxFor(m => m.Company.URL, new { @class = "form-control py-4", placeholder = "Begin with http:// or https:// or www." })
                        @Html.ValidationMessageFor(m => m.Company.URL, "", new { @class = "error" })
                        @*<input type="text" id="Website" placeholder="Begin with http:// or https:// or www."
        class="form-control py-4" />*@
                        <label class="h6 text-color1">This is a link to your external website.</label>
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="text-header2  ">
                    <div class="row no-gutters bg-white">
                        <div class="col-12 lbl-style">
                            @Html.Label("Page Preview", new { @class = "h4 py-4 pl-4" })
                            @*<label class="h4 py-4 pl-4 " id="pgp">Page Preview</label>*@
                        </div>
                    </div>


                    <div class="row no-gutters">
                        <div class="col-1"></div>
                        <div class="col-6 bg-white">
                            <img class="image-border" src="../images/df.png" />
                        </div>
                        <div class="col-5 bg-white py-4">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    @Html.LabelFor(m => m.Company.Name, new { @class = "h2 text-color1" })
                                    @*<label class="h2 text-color1" id="test1">Company Name</label>*@
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-12">
                                    @Html.LabelFor(m => m.Company.Industry, new { @class = "h5 text-color1" })
                                    @*<label class="h5 text-color1">Industry</label>*@
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-12">
                                    @Html.LabelFor(m => m.Company.Description, new { @class = "h5 text-color1" })
                                    @*<label class="h5 text-color1">Tagline</label>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-1">

                        </div>
                        <div class="col-6 bg-white">
                            <div class="div-color">

                            </div>

                        </div>
                        <div class="col-5 bg-white">

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group form-position">
                    <div class="col-12 py-1">
                        <span class="text-header h3">Company details</span>
                        @Html.LabelFor(m => m.Industries, "Industry *", new { @class = "h5 py-4" })
                   
                        @*<label class="h5 py-4" for="dropdownMenu">Industry *</label>*@
                        @Html.DropDownListFor(m => m.Company.CompanyIndustry,new SelectList(Model.Industries,"Value","Text"), " Select industry", new { @class ="form-control drop-fsize" })
                        @Html.ValidationMessageFor(m => m.Company.CompanyIndustry, "", new { @class = "text-danger" })

                        @*<select class="form-control drop-fsize" id="dropdownMenu">
            <option selected>Select industry</option>
            <option value="Accounting">Accounting</option>
            <option value="Airlines/Aviation">Airlines/Aviation</option>
            <option value="AlternativeDisputeResolution">Alternative Dispute Resolution</option>
            <option value="AlternativeMedicine">Alternative Medicine</option>
            <option value="Animation"> Animation</option>
            <option value="ApparelFashion">Apparel & Fashion</option>
            <option value="ArchitecturePlanning">Architecture & Planning</option>
            <option value="ArtsCrafts">Arts & Crafts</option>
            <option value="Automotive">Automotive</option>
            <option value="AviationAerospace">Aviation & Aerospace</option>
            <option value="Banking">Banking</option>
            <option value="Biotechnology">Biotechnology</option>
            <option value="InformationTechnologyServices">
                Information Technology & Services
            </option>
            <option value="Internet">Internet</option>
            <option value="InvestmentBanking">Investment Banking</option>
            <option value="InvestmentManagement">Investment Management</option>
            <option value="Veterinary">Veterinary</option>
            <option value="Telecommunications">Telecommunications</option>
            <option value="TranslationLocalization">Translation & Localization</option>

        </select>*@
                    </div>
                    <div class="col-12 py-2">
                        @Html.LabelFor(m => m.Company.Size, "Company size *", new { @class = "h5 py-4" })
                        @*<label class="h5 py-4" for="dropdownMenu2">Company size * </label>*@
                        @Html.DropDownListFor(m => m.Company.CompanySize, new SelectList(Model.Sizes, "Value", "Text"), "Select company size", new { @class = "form-control drop-fsize" })
                        @Html.ValidationMessageFor(m => m.Sizes, "", new { @class = "error" })

                        @*<select class="form-control drop-fsize" id="dropdownMenu2">
            <option selected>Select company size</option>
            <option value="Publiccompany">0–1 employees</option>
            <option value="Self-employed">2–10 employees</option>
            <option value="Governmentagency">11–50 employees</option>
            <option value="Nonprofit">51–200 employees</option>
        </select>*@
                    </div>
                    <div class="col-12 py-2">
                        @Html.LabelFor(m => m.Company.Type, "Company type *", new { @class = "h5 py-4" })
                        @*<label for="dropdownMenu3" class="h5 py-4">Company type *</label>*@
                        @Html.DropDownListFor(m => m.Company.CompanyType, new SelectList(Model.Types, "Value", "Text"), "Select company type", new { @class = "form-control drop-fsize"})
                        @Html.ValidationMessageFor(m => m.Types, "", new { @class = "error" })

                        @*<select class="form-control drop-fsize" id="dropdownMenu3">
            <option selected>Select company type</option>
            <option value="Publiccompany">Public company</option>
            <option value="Self-employed">Self-employed</option>
            <option value="Governmentagency">Government agency</option>
            <option value="Nonprofit">Nonprofit</option>
            <option value="Soleproprietorship">Sole proprietorship</option>
            <option value="Privatelyheld">Privately held</option>
            <option value="Partnership">Partnership</option>
        </select>*@
                    </div>
                </div>
            </div>
            <div class="col-6">

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group form-position">
                    <div class="col-12 py-1">
                        <span class="text-header h3">Profile details</span>
                        @Html.LabelFor(m => m, "logo", new { @class = "h5 py-4 d-block" })
                        @*<label class="h5 py-4 d-block" for="">Logo</label>*@
                        <div class="row">
                            <div class="col-12 ">
                                <div class="div-bgcolor">

                                    <span class="h4 px-4">Upload to see preview </span>
                                    @Html.TextBoxFor(m => m.Company.LogoFileName, new { type = "file", @class = "btn butt-style", value = "Choose file" })
                                   @Html.ValidationMessageFor(m => m.Company.LogoFileName, "", new { @class = "error" })
                                    <span style="color:green">@Html.Raw(ViewBag.Message)</span>
                                    @*<input type="file" class="btn butt-style" value="Choose file" />*@
                                </div>
                                <span class="text-color1">300 x 300px recommended. JPGs, JPEGs, and PNGs supported.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 py-2">
                        @Html.LabelFor(m => m, "Tagline", new { @class = "h5 py-4" })
                        @*<label class="h5 py-4" for="Tagline">Tagline</label>*@
                        @Html.TextAreaFor(m => m.Company.Description, 1, 20, new { @class = "form-control textare-reseize py-4" })
                        @Html.ValidationMessageFor(m => m.Company.Description, "", new { @class = "error" })
                        @*<textarea rows="1" cols="20" class="form-control textare-reseize py-4" id="Tagline"></textarea>*@
                    </div>

                </div>
            </div>
            <div class="col-6">

            </div>

        </div>
        <div class="row">
            <div class="col-6 ">
                <div class="form-group footer-form">
                    <div class="row">
                        <div class="col-1 py-1">
                            @Html.CheckBoxFor(m => m.Selected, new { @class = "check-style" })
                            @*<input type="checkbox" class="check-style" />*@
                        </div>
                        <div class="col-11 ">
                            <span> I verify that I am the official representative of this company and have the right to act on behalf of the company in the creation of this page.</span>
                        </div>
                    </div>
                    <div class="row py-4">
                        <div class="col-8">

                        </div>
                        <div class="col-3">
                            @if (Model.Selected == true)
                            {
                        <input type="submit" class="form-control btn-lg butn-disable" value="Create page" />

                            }
                            else
                            {
                        <input type="submit" class="form-control btn-lg butn-disable"  value="Create page" />

                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">

            </div>
            
        </div>
    }

        <script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>





























@*<h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Company</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Logo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Cover, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cover, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cover, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Industry, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Industry, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Industry, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@


