@model CompanyViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout3.cshtml";
 

    AjaxOptions ao = new AjaxOptions
    {
        UpdateTargetId = "test1",
        InsertionMode = InsertionMode.Replace

    };

}

   

<div class="container-fluid bg-white div-position">
    <div class="row  ">
        <div class="col-12">
            <button class="btn btn-light btn-lg buttn-back">
                <i class="fas fa-arrow-left "></i>
                <span>@Html.ActionLink("Back", "Index")</span>
            </button>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 head-text-size">
            <i class="fas fa-university text-center i-color-company display-2 py-4"></i>
            <span class="h4 text-color">
                Let’s get started with a few details about your company.
            </span>
        </div>
    </div>
</div>
<div class="container-fluid ">

    @using (Html.BeginForm("Create", "Company", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-6 ">
                <div class="form-group form-position1">
                    @*@using (Ajax.BeginForm(ao))
                        {*@
                    <div class="col-12 py-1">
                        <span class="text-header h3">Page identity</span>
                        @Html.LabelFor(m => m.Company.Name, "Name *", new { @class = "h5 py-4" })
                        @*<label class="h5 py-4" for="name">Name*</label>*@
                        @Html.TextBoxFor(m => m.Company.Name, new { @class = "form-control p-4", id = "myTXT1" })
                        @Html.ValidationMessageFor(m => m.Company.Name, "", new { @class = "text-danger" })
                        @*<input type="text" id="name" class="form-control p-4" />*@
                    </div>
                    <div class="col-12 py-2">
                        @Html.LabelFor(m => m, "LinkedIn public URL *", new { @class = "h5 py-4" })
                        @*<label class="h5 py-4" for="URL">LinkedIn public URL* </label>*@
                        <div class="row">
                            <div class="col-4">
                                @Html.LabelFor(m => m, "linkedin.com/company/", new { @class = "h5 py-4" })

                                @*<label for="URL" class="h5 text-color1">linkedin.com/company/</label>*@
                            </div>
                            <div class="col-8">
                                @Html.TextBox("URL", null, new { @class = "form-control py-4 my-1" })
                                @Html.ValidationMessageFor(m => m, "", new { @class = "text-danger" })
                                @*<input type="text" id="URL" class="form-control p-4" />*@
                            </div>

                        </div>
                    </div>
                    <div class="col-12 py-2">
                        @Html.LabelFor(m => m.Company.URL, new { @class = "h5 py-4" })

                        @*<label for="Website" class="h5 py-4">Website</label>*@
                        @Html.TextBoxFor(m => m.Company.URL, new { @class = "form-control py-4", placeholder = "Begin with http:// or https:// or www." })
                        @Html.ValidationMessageFor(m => m.Company.URL, "", new { @class = "text-danger" })
                        @*<input type="text" id="Website" placeholder="Begin with http:// or https:// or www."
                            class="form-control py-4" />*@
                        <label class="h6 text-color1">This is a link to your external website.</label>
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="text-header2  ">
                    <div class="row no-gutters bg-white">
                        <div class="col-12 lbl-style">
                            @Html.Label("Page Preview", new { @class = "h4 py-4 pl-4" })
                            @*<label class="h4 py-4 pl-4 " id="pgp">Page Preview</label>*@
                        </div>
                    </div>


                    <div class="row no-gutters">
                        <div class="col-1"></div>
                        <div class="col-6 bg-white">
                            @*@if (Model.Company.Logo != null)
                            {
                                <img class="image-border" id="myIMG" src="@Model.Company.Logo" />

                            }
                            else
                            {*@
                                <img class="image-border" src="../images/df.png" />

                            @*}*@
                        </div>

                        <div class="col-5 bg-white py-4">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    @Html.LabelFor(m => m.Company.Name, new { @class = "h2 text-color1",id= "txt1" })
                                    @*<label class="h2 text-color1" id="txt1">Company Name</label>*@
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-12">
                                    @Html.LabelFor(m => m.Company.Industry, new { @class = "h5 text-color1", id = "indd" })
                                    @*<label class="h5 text-color1">Industry</label>*@
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-12">
                                    @Html.LabelFor(m => m.Company.Description, new { @class = "h5 text-color1",id="tag" })
                                    @*<label class="h5 text-color1">Tagline</label>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row no-gutters">
                        <div class="col-1">

                        </div>
                        <div class="col-6 bg-white">
                            <div class="div-color">

                            </div>

                        </div>
                        <div class="col-5 bg-white">

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group form-position">
                    <div class="col-12 py-1">
                        <span class="text-header h3">Company details</span>
                        @Html.LabelFor(m => m.Company.Industry, "Industry *", new { @class = "h5 py-4" })

                        @Html.DropDownListFor(m => m.Company.Industry_FKId,new SelectList(@Model.Industries, "Value", "Text"),"Select industry", new { @class ="form-control drop-fsize", id = "ddl1" })
                        @Html.ValidationMessageFor(m => m.Company.Industry, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-12 py-2">
                        @Html.LabelFor(m => m.Company.CompanySize, "Company size *", new { @class = "h5 py-4" })
                        @*<label class="h5 py-4" for="dropdownMenu2">Company size * </label>*@
                        @Html.DropDownListFor(m => m.Company.CompanySize.Id, new SelectList(@Model.Sizes, "Value", "Text"), "Select company size", new { @class = "form-control drop-fsize" })
                        @Html.ValidationMessageFor(m => m.Company.CompanySize.Id, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-12 py-2">
                        @Html.LabelFor(m => m.Company.CompanyType, "Company type *", new { @class = "h5 py-4" })
                        @*<label for="dropdownMenu3" class="h5 py-4">Company type *</label>*@
                        @Html.DropDownListFor(m => m.Company.CompanyType.Id, new SelectList(Model.Types, "Value", "Text"), "Select company type", new { @class = "form-control drop-fsize" })
                        @Html.ValidationMessageFor(m => m.Company.CompanyType.Id, "", new { @class = "text-danger" })


                    </div>
                </div>
            </div>
            <div class="col-6">

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group form-position">
                    <div class="col-12 py-1">
                        <span class="text-header h3">Profile details</span>
                        @Html.LabelFor(m => m, "logo", new { @class = "h5 py-4 d-block" })
                        @*<label class="h5 py-4 d-block" for="">Logo</label>*@
                        <div class="row">
                            <div class="col-12 ">
                                <div class="div-bgcolor">

                                    <span class="h4 px-4">Upload to see preview </span>
                                    @Html.TextBoxFor(m => m.Company.LogoFileName, new { type = "file", @class = "btn butt-style", value = "Choose file" })
                                    @Html.ValidationMessageFor(m => m.Company.LogoFileName, "", new { @class = "error" })
                                    <span style="color:green">@Html.Raw(ViewBag.Message)</span>
                                    @*<input type="file" class="btn butt-style" value="Choose file" />*@
                                </div>
                                <span class="text-color1">300 x 300px recommended. JPGs, JPEGs, and PNGs supported.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 py-2">
                        @Html.LabelFor(m => m, "Tagline", new { @class = "h5 py-4" })
                        @*<label class="h5 py-4" for="Tagline">Tagline</label>*@
                        @Html.TextAreaFor(m => m.Company.Description, 1, 20, new { @class = "form-control textare-reseize py-4",id="txtarea" })
                        @Html.ValidationMessageFor(m => m.Company.Description, "", new { @class = "text-danger" })
                        @*<textarea rows="1" cols="20" class="form-control textare-reseize py-4" id="Tagline"></textarea>*@
                    </div>

                </div>
            </div>
            <div class="col-6">

            </div>

        </div>

        <div class="row">
            <div class="col-6 ">
                <div class="form-group footer-form">
                    <div class="row">
                        <div class="col-1 py-1">
                            @Html.CheckBoxFor(m=>Model.Selected, new { @class = "check-style",id="chbox"})
                            @*<input type="checkbox" class="check-style" />*@
                        </div>
                        <div class="col-11 ">
                            <span> I verify that I am the official representative of this company and have the right to act on behalf of the company in the creation of this page.</span>
                        </div>
                    </div>
                    <div class="row py-4">
                        <div class="col-8">

                        </div>
                        <div class="col-3">
                           
                            @if (!Model.Selected)
                            {
                                <input type="submit" class="form-control btn-lg butn-disable" value="Create page" />

                            }
                            else
                            {
                                <input type="submit" class="form-control btn-lg butn-disable" disabled="disabled" value="Create page" />

                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">

            </div>

        </div>
    }
    <script type="text/javascript">


        myTXT1.oninput = function () {
            if (myTXT1 == "") {
                txt1.innerHTML = "Company Name"
            }
            else {

                txt1.innerHTML = myTXT1.value;
            }


        };

        ddl1.oninput = function () {

            indd.innerHTML = ddl1.options[ddl1.selectedIndex].text;
        }


        txtarea.oninput = function () {
            tag.innerHTML = txtarea.value;
        }

     //   var select = $("#chbox").is(":checked");

    </script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>





























   