@model LinkedInMVC.Models.Post

@{
    AjaxOptions ajaxOptionsLikes = new AjaxOptions
    {
        //UpdateTargetId = "likesNum",
        UpdateTargetId = "LikesPartial",
        InsertionMode = InsertionMode.InsertAfter,
        HttpMethod = "POST"
    };
    AjaxOptions ajaxOptionsComments = new AjaxOptions
    {
        UpdateTargetId = "CommentsPartial",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"
    };
    AjaxOptions ao = new AjaxOptions
    {
        UpdateTargetId = "my",
        InsertionMode = InsertionMode.InsertAfter,
        HttpMethod = "POST"
    };
}
@Ajax.ActionLink("Test", "t", "Home",null,ao,null)
<div id="my"></div>
@using(Ajax.BeginForm("t", "Home", ajaxOptionsLikes))
{

<div class="post pl-5 ">
    <div class="post__post-main col-md-12">
        <div class="post-main-head row">
            <img class="user-photo col-md-2 " src="../images/u.png">
            <div class="user-data col-md-6 d-flex">
                @Html.HiddenFor(model => Model.ApplicationUser.Id)
                @Html.HiddenFor(model => Model.Id)
                @Html.ActionLink(Model.ApplicationUser.FirstName, "", null, new { @class = "user-data__user-name" })
                @*<a class="user-data__user-name" href="#">@Model.ApplicationUser.FirstName</a>*@
                <div class="user-data__user-title">@Model.ApplicationUser.Headline</div>
            </div>
        </div>
        <div class="post-main-content col-md-12">
            @Model.postText
        </div>
        <ul class="social-counts col-md-5 d-flex ">
            <li>
                <div>
                    @Html.Partial("_LikesPartial", Model.numOfLikes)
                    @*<span id="likesNum" class="num-likes pr-2">@Model.numOfLikes </span>*@
                    <span>Likes</span>
                </div>
            </li>
            <li>.</li>
            <li>
                <span id="commentsNum" class="num-comments pl-2 pr-2">@Model.numOfComments </span>
                <span>Comments</span>
            </li>

        </ul>
        <div class="feedback-buttons row">
            <button type="button" class="like-button col-md-3" onclick="$(document.forms[0]).submit()">
                <i class="far fa-thumbs-up like-button__ilike"></i>
                <span> Like </span>
            </button>

            <button class="comment-button col-md-3" onclick="focusComment()">
                <i class="fal fa-comment-alt-lines comment-button__icomment"></i>
                <span>Comment</span>
            </button>
            <button class="share-button col-md-3">
                <i class="fas fa-share share-button__ishare"></i>
                <span>  Share</span>
            </button>
        </div>
    </div>
    <div class="post-reactions col-md-12">
        <div class="add-Comment">
            <div class="user-img-container col-md-3 "><img class="user-photo" src="../images/u.png"></div>
            <input type="text" name="" class="comment-txt col-md-8" placeholder="Add a comment...">
            <button class="btn btn-primary post-btn" onclick="$(document.forms[0]).submit()">Post</button>
        </div>
    </div>
    @foreach(LinkedInMVC.Models.Comment comment in Model.Comments)
    {
    @Html.Partial("_CommentPartial", comment)
    }

</div>
<script>
    function focusComment() {
        $("add-Comment")[0].focus();
    }
</script>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
<script src="~/node_modules/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>


