@model IEnumerable<LinkedInMVC.Models.Connection_Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="container network ">
    <div class="col-lg-8 network-container">
        <h3>Recommended for you</h3>
        <div class="col-lg-4">
            <div class="network-block">
                <div class="network-block__imgprofile">
                    <div class="network-block__imgprofile__cover">
                        <img src="~/images/cover.jpg" class="img-cover" />
                    </div>
                    <div class="network-block__imgprofile__pimage">
                    </div>
                    <div class="network-block__imgprofile__content">
                        <a class="network-block__imgprofile__content__nametag" href="">ahmed abd-elwasaa</a>
                        <p class="network-block__imgprofile__content__details">
                            trainee at information technology institute (ITI)
                        </p>
                    </div>
                </div>
                <div class="network-block__imgnetwork">
                    <div class="network-block__imgnetwork__img1"></div>
                    <div class="network-block__imgnetwork__img2"></div>
                    <div class="network-block__imgnetwork__img3"></div>
                    <a class="network-block__imgnetwork__hlink"><span class="network-block__imgnetwork__hlink__numofcon">99</span> mutual connections </a>
                </div>
                <input class="network-block__btncon" type="button" value="connect" />

            </div>
        </div>
        <div class="col-lg-4">
            <div class="network-block">
                <div class="network-block__imgprofile">
                    <div class="network-block__imgprofile__cover">
                        <img src="~/images/cover.jpg" class="img-cover" />
                    </div>
                    <div class="network-block__imgprofile__pimage">
                        <img src="~/images/me.jpg" class="net-img" />
                    </div>
                    <div class="network-block__imgprofile__content">
                        <a class="network-block__imgprofile__content__nametag" href="">ahmed abd-elwasaa</a>
                        <p class="network-block__imgprofile__content__details">
                            trainee at information technology institute (ITI)
                        </p>
                    </div>
                </div>
                <div class="network-block__imgnetwork">
                    <div class="network-block__imgnetwork__img1"></div>
                    <div class="network-block__imgnetwork__img2"></div>
                    <div class="network-block__imgnetwork__img3"></div>
                    <a class="network-block__imgnetwork__hlink"><span class="network-block__imgnetwork__hlink__numofcon">99</span> mutual connections </a>
                </div>
                <input class="network-block__btncon" type="button" value="connect" />

            </div>
        </div>
        <div class="col-lg-4">
            <div class="network-block">
                <div class="network-block__imgprofile">
                    <div class="network-block__imgprofile__cover">
                        <img src="~/images/cover.jpg" class="img-cover" />
                    </div>
                    <div class="network-block__imgprofile__pimage">
                    </div>
                    <div class="network-block__imgprofile__content">
                        <a class="network-block__imgprofile__content__nametag" href="">ahmed abd-elwasaa</a>
                        <p class="network-block__imgprofile__content__details">
                            trainee at information technology institute (ITI)
                        </p>
                    </div>
                </div>
                <div class="network-block__imgnetwork">
                    <div class="network-block__imgnetwork__img1"></div>
                    <div class="network-block__imgnetwork__img2"></div>
                    <div class="network-block__imgnetwork__img3"></div>
                    <a class="network-block__imgnetwork__hlink"><span class="network-block__imgnetwork__hlink__numofcon">99</span> mutual connections </a>
                </div>
                <input class="network-block__btncon" type="button" value="connect" />

            </div>
        </div>
        <div class="col-lg-4">
            <div class="network-block">
                <div class="network-block__imgprofile">
                    <div class="network-block__imgprofile__cover">
                        <img src="~/images/cover.jpg" class="img-cover" />
                    </div>
                    <div class="network-block__imgprofile__pimage">
                        <img src="~/images/me.jpg" class="net-img" />
                    </div>
                    <div class="network-block__imgprofile__content">
                        <a class="network-block__imgprofile__content__nametag" href="">ahmed abd-elwasaa</a>
                        <p class="network-block__imgprofile__content__details">
                            trainee at information technology institute (ITI)
                        </p>
                    </div>
                </div>
                <div class="network-block__imgnetwork">
                    <div class="network-block__imgnetwork__img1"></div>
                    <div class="network-block__imgnetwork__img2"></div>
                    <div class="network-block__imgnetwork__img3"></div>
                    <a class="network-block__imgnetwork__hlink"><span class="network-block__imgnetwork__hlink__numofcon">99</span> mutual connections </a>
                </div>
                <input class="network-block__btncon" type="button" value="connect" />

            </div>
        </div>
        <div class="col-lg-4">
            <div class="network-block">
                <div class="network-block__imgprofile">
                    <div class="network-block__imgprofile__cover">
                        <img src="~/images/cover.jpg" class="img-cover" />
                    </div>
                    <div class="network-block__imgprofile__pimage">
                    </div>
                    <div class="network-block__imgprofile__content">
                        <a class="network-block__imgprofile__content__nametag" href="">ahmed abd-elwasaa</a>
                        <p class="network-block__imgprofile__content__details">
                            trainee at information technology institute (ITI)
                        </p>
                    </div>
                </div>
                <div class="network-block__imgnetwork">
                    <div class="network-block__imgnetwork__img1"></div>
                    <div class="network-block__imgnetwork__img2"></div>
                    <div class="network-block__imgnetwork__img3"></div>
                    <a class="network-block__imgnetwork__hlink"><span class="network-block__imgnetwork__hlink__numofcon">99</span> mutual connections </a>
                </div>
                <input class="network-block__btncon" type="button" value="connect" />

            </div>
        </div>
        <div class="col-lg-4">
            <div class="network-block">
                <div class="network-block__imgprofile">
                    <div class="network-block__imgprofile__cover">
                        <img src="~/images/cover.jpg" class="img-cover" />
                    </div>
                    <div class="network-block__imgprofile__pimage">
                        <img src="~/images/me.jpg" class="net-img" />
                    </div>
                    <div class="network-block__imgprofile__content">
                        <a class="network-block__imgprofile__content__nametag" href="">ahmed abd-elwasaa</a>
                        <p class="network-block__imgprofile__content__details">
                            trainee at information technology institute (ITI)
                        </p>
                    </div>
                </div>
                <div class="network-block__imgnetwork">
                    <div class="network-block__imgnetwork__img1"></div>
                    <div class="network-block__imgnetwork__img2"></div>
                    <div class="network-block__imgnetwork__img3"></div>
                    <a class="network-block__imgnetwork__hlink"><span class="network-block__imgnetwork__hlink__numofcon">99</span> mutual connections </a>
                </div>
                <input class="network-block__btncon" type="button" value="connect" />

            </div>
        </div>
        <div class="col-lg-4">
            <div class="network-block">
                <div class="network-block__imgprofile">
                    <div class="network-block__imgprofile__cover">
                        <img src="~/images/cover.jpg" class="img-cover" />
                    </div>
                    <div class="network-block__imgprofile__pimage">
                    </div>
                    <div class="network-block__imgprofile__content">
                        <a class="network-block__imgprofile__content__nametag" href="">ahmed abd-elwasaa</a>
                        <p class="network-block__imgprofile__content__details">
                            trainee at information technology institute (ITI)
                        </p>
                    </div>
                </div>
                <div class="network-block__imgnetwork">
                    <div class="network-block__imgnetwork__img1"></div>
                    <div class="network-block__imgnetwork__img2"></div>
                    <div class="network-block__imgnetwork__img3"></div>
                    <a class="network-block__imgnetwork__hlink"><span class="network-block__imgnetwork__hlink__numofcon">99</span> mutual connections </a>
                </div>
                <input class="network-block__btncon" type="button" value="connect" />

            </div>
        </div>
        <div class="col-lg-4">
            <div class="network-block">
                <div class="network-block__imgprofile">
                    <div class="network-block__imgprofile__cover">
                        <img src="~/images/cover.jpg" class="img-cover" />
                    </div>
                    <div class="network-block__imgprofile__pimage">
                        <img src="~/images/me.jpg" class="net-img" />
                    </div>
                    <div class="network-block__imgprofile__content">
                        <a class="network-block__imgprofile__content__nametag" href="">ahmed abd-elwasaa</a>
                        <p class="network-block__imgprofile__content__details">
                            trainee at information technology institute (ITI)
                        </p>
                    </div>
                </div>
                <div class="network-block__imgnetwork">
                    <div class="network-block__imgnetwork__img1"></div>
                    <div class="network-block__imgnetwork__img2"></div>
                    <div class="network-block__imgnetwork__img3"></div>
                    <a class="network-block__imgnetwork__hlink"><span class="network-block__imgnetwork__hlink__numofcon">99</span> mutual connections </a>
                </div>
                <input class="network-block__btncon" type="button" value="connect" />

            </div>
        </div>
    </div>
</div>


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
