@model NetworkViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-8 network-container">
        <div class="row">
            <h3>Recommended for you</h3>
        </div>
        <div class=" row net-row">
            <div class="container network row ">
                @*@{
            int x = 0;
        }*@
                @foreach (var network in Model.MetualFriend)
                {
                    //x++;

                    @Html.Partial("_PeopleMayKnow", network)
                }
                @foreach (var FriendRequest in Model.FriendRequest)
                {
                    //x++;

                    @Html.Partial("_FreindRequest", FriendRequest)
                }
            </div>

        </div>
    </div>
</div>
<script>
    function removerow(x) {
        var self = this
        $(x).remove();
    }
</script>
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsApproved)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsApproved)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

    </table>*@
