@model LinkedInMVC.ViewModel.ExperienceViewModel


<div class="experience">
    <div class="experience-data">
        <div class="company-img-container">
            <img src="../images/Logo.png" class="company-img">
        </div>
        <div class="experience-details">
            <input type="hidden" value="@Model.Id" />
            <h4 class="title"> @Model.Title</h4>
            <h4 class="company-name">@Model.Company</h4>
            <h4 class="company-locatiob">@Model.Location</h4>
            <div class="date">
                <h4 class="date-from">@Model.FromYear</h4>
                <span> - </span>
                <h4 class="date-to">@Model.ToYear</h4>
            </div>
        </div>
    </div>
</div>

