@model LinkedInMVC.ViewModel.EducationViewModel


    <div class="education">
        <div class="education-data">
            <div class="btn-edit-education" data-toggle="modal" data-target="#EditEducationModal"><i class="fas fa-pen"></i></div>
          @*  @Html.ActionLink(" ", "", new { id = Model.Id }, new { @class = "fas fa-pen", @data_target= "#AddEducationModal" })*@

           
            <div class="school-img-container">
                <img src="../images/Logo.png" class="school-img">
            </div>
            <div class="education-details">
                <input type="hidden" value="@Model.Id" />
                <h4 class="school-name"> @Model.SchoolName</h4>
                <h4 class="Degree">@Model.Degree</h4>
                <h3 class="study-feild">@Model.FieldOfStudy</h3>
                <h3 class="Grade">@Model.Grade</h3>
                <div class="date">
                    <h4 class="date-from">@Model.FromYear</h4>
                    <span> - </span>
                    <h4 class="date-to">@Model.ToYear</h4>
                </div>
            </div>
        </div>
    </div>





