@model LinkedInMVC.ViewModel.EndorsementViewModel

<div class="skill">
    <div class="skill-data">
        <div class="btn-edit-skills" data-toggle="modal" data-target="#EditSkillsModal"><i class="fas fa-pen"></i></div>
        <div class="Skill-details">
            <div class="skill-name">@Model.Skill.SkillName</div>
            <input type="hidden" value="@Model.Skill.Id" />
        </div>
    </div>
    @if (@Model.EndorsedByNames.Capacity > 0)
    {
        <div class="Endorsements">
            <span class="Endorsed-by">Endorsed by </span>
            @foreach (string name in @Model.EndorsedByNames)
            {
                <span>  @name</span>
            }
        </div>
    }
    else
    {
        <div class="Endorsements">
            <span class="Endorsed-by"></span>
            
                <span></span>
           
        </div>

    }

</div>
